<style>

.bp-index-3 {
    background: #fef6ee;
    margin-top: 55px;
    padding:5rem 2rem
}
.bp-index-3 .Heading {
  width: 40%;
}
.bp-index-3 .Heading h2 {
    font-size: 44px;
    line-height: 48px;
    font-weight: 300;
    text-shadow: none;
    color: #4e5651;
    margin-bottom: 15px;
    letter-spacing: 0;
    text-transform: none;
}
.bp-index-3 .Heading h2 span {
    color: #ff5442;
}
.bp-index-3 .chart_image img {
  display: block;
  width: 100%;
}
.bp-se3bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.bp-se3bottom .bp-bottom-1, .bp-se3bottom .bp-bottom-2, .bp-se3bottom .bp-bottom-3 {
  width: 20%;
  position: relative;
}
.bottom-heading-3{
  text-align:right;
}
  .bp-se3bottom .bp-bottom-1:before {
    content: "1";
    background: #ff5442;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -40px;
    left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    z-index: 2;
}
.bp-se3bottom .bp-bottom-2:before {
    content: "2";
    background: #ff5442;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -40px;
    left: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    z-index: 2;
    margin: 0;
    transform: translate(-50%, 10px);
}
.bp-se3bottom .bp-bottom-3:before {
    content: "3";
    background: #ff5442;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -40px;
    right: -20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    z-index: 2;
}
  .bp-se3bottom .bp-bottom-1:after {
    content: "";
    background-color: #ff5442;
    background-image: linear-gradient(rgb(254 246 238),rgb(255 84 66));
    height: 83px;
    width: 2px;
    position: absolute;
    top: -27%;
    left: 39px;
    z-index: 1;
}
.bp-se3bottom .bp-bottom-2:after {
    content: "";
    background-color: #ff5442;
    background-image: linear-gradient(rgb(254 246 238), rgb(255 84 66));
    height: 130px;
    width: 2px;
    position: absolute;
    top: -29%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 10px);
}
.bp-se3bottom .bp-bottom-3:after {
    content: "";
    background-color: #ff5442;
    background-image: linear-gradient(rgb(254 246 238),rgb(255 84 66));
    height: 240px;
    width: 2px;
    position: absolute;
    top: -47%;
    right: 0px;
    z-index: 1;
}
  .bp-se3bottom h2 {
    display: block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4e5651;
    margin-top: 20px;
}
  .bottom-heading-2{
    text-align:center;
  }
  .bottom-heading-1 p, .bottom-heading-2 p, .bottom-heading-3 p {
    color: #2f3932;
    opacity: .6;
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-shadow: none;
}
.bp-se3bottom .bp-bottom-1 .bp-specs {
    top: -90%;
}
  
.bp-specs {
    position: absolute;
    left: 11%;
    width: 50%;
}
  .bp-se3bottom .bp-bottom-2 .bp-specs {
    top: -115%;
}
.bp-se3bottom .bp-bottom-3 .bp-specs {
    top: -160%;
}

.bp-specs {
    position: absolute;
    left: 11%;
    width: 50%;
}
.bp-specs {
    position: absolute;
    left: 11%;
    width: 50%;
}
  .bp-specs ul{
    padding:0px;
  }
  .bp-specs ul li {
    color: #ff5442;
    position: relative;
    padding-left: 12px;
    margin-bottom: 5px;
}
  .bp-se3bottom .bp-bottom-1:after {
    content: "";
    background-color: #ff5442;
    background-image: linear-gradient(rgb(254 246 238),rgb(255 84 66));
    height: 83px;
    width: 2px;
    position: absolute;
    top: -20%;
    left: 39px;
    z-index: 1;
}
.multicolumn-card__info .inline-richtext{
  font-size:32px;
}
  @media(max-width:768px){
.bottom-heading-3{
  text-align:left;
}
    .multicolumn-card__info .inline-richtext{
      font-size:20px;
    }
    .bp-index-3 .Heading{
    width:100%;
    }
    .bp-se3bottom {
    padding-top: 0;
    flex-wrap: wrap;
    }
    .bp-se3bottom .bp-bottom-1, .bp-se3bottom .bp-bottom-2, .bp-se3bottom .bp-bottom-3 {
    width: 100%;
    margin-top: 200px;
    }
    .bp-se3bottom .bp-bottom-1:before {
    height: 40px;
    width: 40px;
    top: -35px;
    }
    .bp-se3bottom .bp-bottom-1:after {
    top: -60px;
    height: 30px;
    }
    .bp-se3bottom .bp-bottom-1 .bp-specs, .bp-se3bottom .bp-bottom-2 .bp-specs, .bp-se3bottom .bp-bottom-3 .bp-specs {
    top: -200px;
    left: 11%;
    width: 60%;
    }
    .bp-se3bottom .bp-bottom-2:before {
    height: 40px;
    width: 40px;
    top: -35px;
    }
    .bp-se3bottom .bp-bottom-2:after {
    top: -60px;
    height: 30px;
    }
    .bp-se3bottom .bp-bottom-3:before {
    height: 40px;
    width: 40px;
    top: -35px;
    }
    .bp-se3bottom .bp-bottom-3:after {
    top: -60px;
    height: 30px;
    }
  }
</style>

<div class="bp-se3main">
<div class="page-width bp-se3wrap">
<div class="bp-se3top">
<div class="Heading">
  <h2>{{ section.settings.heading }}</h2>
</div>
<div class="chart_image">
  <img loading="lazy" width="auto" height="auto" src="{{ section.settings.chart_image | img_url: "" }}">
</div>
</div>
  
<div class="bp-se3bottom">
  
<div class="bp-bottom-1">
<div class="bottom-heading-1">
 <h2>{{ section.settings.bottom_heading_1 }}</h2>
</div>
<div class="bottom-heading-des-1">
 <p>{{ section.settings.desc_1 }}</p>
</div>
  
  <div class="bp-specs">
   {{ section.settings.specs1 }}
  </div>
</div>
  

<div class="bp-bottom-2">
<div class="bottom-heading-2">
 <h2>{{ section.settings.bottom_heading_2 }}</h2>
</div>
<div class="bottom-heading-des-2">
 <p>{{ section.settings.desc_2 }}</p>
</div>
  
    <div class="bp-specs">
   {{ section.settings.specs2 }}
  </div>
  
</div>
  
<div class="bp-bottom-3">
<div class="bottom-heading-3">
 <h2>{{ section.settings.bottom_heading_3 }}</h2>
</div>
<div class="bottom-heading-des-3">
 <p>{{ section.settings.desc_3 }}</p>
</div>
  
    <div class="bp-specs">
   {{ section.settings.specs3 }}
  </div>
</div>
  
</div>
   
</div>
</div>

{% schema %}
{
  "name": "Brand Partners Tiers",
  "class": "index-section bp-index-3",
  "settings": [
    {
      "type": "header",
      "content": "Top Section"
    },
    {
      "id": "heading",
      "type": "html",
      "label": "Heading"
    },
    {
      "id": "chart_image",
      "type": "image_picker",
      "label": "Chart Image"
    },
    {
      "type": "header",
      "content": "bottom Section-1"
    },
    {
      "id": "bottom_heading_1",
      "type": "html",
      "label": "Heading One"
    },
    {
      "id": "desc_1",
      "type": "html",
      "label": "Description One"
    },
    {
      "id": "specs1",
      "type": "html",
      "label": "Specifications One"
    },
    {
      "type": "header",
      "content": "bottom Section-2"
    },
    {
      "id": "bottom_heading_2",
      "type": "html",
      "label": "Heading Two"
    },
    {
      "id": "desc_2",
      "type": "html",
      "label": "Description Two"
    },
    {
      "id": "specs2",
      "type": "html",
      "label": "Specifications Two"
    },
    {
      "type": "header",
      "content": "bottom Section-3"
    },
    {
      "id": "bottom_heading_3",
      "type": "html",
      "label": "Heading Three"
    },
    {
      "id": "desc_3",
      "type": "html",
      "label": "Description Three"
    },
    {
      "id": "specs3",
      "type": "html",
      "label": "Specifications Three"
    }
  ],
   "presets": [
    {
      "name": "Brand Partners Tiers"
    }
  ]
}
{% endschema %}


{% javascript %}
{% endjavascript %}
