 <style>
  @media (max-width: 749px)
  {
    .p-ingredients-wrap img {
      width: 58% !important;
  }
  .p-ingredients-main .middle .ingredints_img_item .ingredints_text p {
    width: 83% !important;
    margin:0 !important;
  }
  .logo-list-container {
    flex-wrap: nowrap !important;
    overflow: auto;
  }
  .logo-list-container {
    column-gap: 34px;
    justify-content: left !important;
    align-items: flex-start !important;
  }
  .logo-bar__item
{
  width:20% !important;
}
  .ingredints_img_item a
  {
  align-items:center !important;
  }
  .ingredints_text,.ingredints_img
  {
    display: flex;
    justify-content: center;
    position: relative;
    right: 21px;
  }

  
  .ingredints_img_item a {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    margin-inline: auto;
}

}
</style> 
{% assign product_handle = product.handle %}
<section class="jangoo">
{% for block in section.blocks %}
{% if product_handle == block.settings.featured_product %}


<div class="p-ingredients-main">
  <div class="page-width">  
    <div class="p-ingredients-wrap">
      <div class="top">
        <div class="text-center">
        <h2>{{ block.settings.heading }}</h2>
        </div>
        <div class="short_desc text-center">
        <p>{{ block.settings.short_desc }}</p>
        </div>
      </div>

      <div class="middle ingCar {% if block.settings.image_6 != blank or block.settings.name_6 != blank %}has6Ing{% else %}has5Ing{% endif %}">
        <div class="ingredints_img_item ingredints_img_item1">
          <a href="#tab1">
            <div class="ingredints_img">
             <img src="{{ block.settings.image_1 | img_url: "200x" }}"> 
            </div>
            <div class="ingredints_text">
              <p>{{ block.settings.name_1 }}</p>
            </div>
          </a>
        </div>
        <div class="ingredints_img_item ingredints_img_item2">
          <a href="#tab2">
            <div class="ingredints_img">
             <img src="{{ block.settings.image_2 | img_url: "200x" }}"> 
            </div>
            <div class="ingredints_text">
              <p>{{ block.settings.name_2 }}</p>
            </div>
          </a>
        </div>
        <div class="ingredints_img_item ingredints_img_item3">
          <a href="#tab3">
            <div class="ingredints_img">
             <img src="{{ block.settings.image_3 | img_url: "200x" }}"> 
            </div>
            <div class="ingredints_text">
              <p>{{ block.settings.name_3 }}</p>
            </div>
          </a>
        </div>
        <div class="ingredints_img_item ingredints_img_item4">
          <a href="#tab4">
            <div class="ingredints_img">
             <img src="{{ block.settings.image_4 | img_url: "200x" }}"> 
            </div>
            <div class="ingredints_text">
              <p>{{ block.settings.name_4 }}</p>
            </div>
          </a>
        </div>
        <div class="ingredints_img_item ingredints_img_item5">
          <a href="#tab5">
            <div class="ingredints_img">
             <img src="{{ block.settings.image_5 | img_url: "200x" }}"> 
            </div>
            <div class="ingredints_text">
              <p>{{ block.settings.name_5 }}</p>
            </div>
          </a>
        </div>
        {% if block.settings.image_6 != blank or block.settings.name_6 != blank %}
        <div class="ingredints_img_item ingredints_img_item6">
          <a href="#tab6">
            <div class="ingredint6_img">
             <img src="{{ block.settings.image_6 | img_url: "200x"}}"> 
            </div>
            <div class="ingredints_text">
              <p>{{ block.settings.name_6 }}</p>
            </div>
          </a>
        </div>  
        {% endif %}
      </div>
      
      
      	
      <div class="cont">        
          <div id="tab1" class="tab-content" style="display: none;">
              {{ block.settings.desc_1 }}
          </div>
          <div id="tab2" class="tab-content" style="display: none;">                                                                        
              {{ block.settings.desc_2 }}
          </div>
          <div id="tab3" class="tab-content" style="display: none;">
              {{ block.settings.desc_3 }}
          </div> 
          <div id="tab4" class="tab-content" style="display: none;">
              {{ block.settings.desc_4 }}
          </div>  
          <div id="tab5" class="tab-content" style="display: none;">
              {{ block.settings.desc_5 }}
          </div>   
          <div id="tab6" class="tab-content" style="display: none;">
              {{ block.settings.desc_6 }}
          </div> 
      </div>
      
     {% if block.settings.long_desc != blank %}
      <div class="bottom">
       <div class="bottom_heading"> 
         <strong>{{ block.settings.details_heading }}</strong>
        </div>
        <div class="bottom_desc">      
          <div class="deskcriptionWrap">
            <div class="deskcription shrinK">
              {{ block.settings.long_desc }}
            </div>
            <div class="readMore">See All Ingredients</div>
          </div>
        </div>
      </div>
     {% endif %}
  </section>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}

<style>
.p-ingredients-main .middle .ingredints_img_item .ingredints_text p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 300;
    line-height: normal;
}
.ingredints_img_item{
  position:relative;
  padding-bottom: 40px;
  text-align: center;
}
.ingredints_img_item a{
  text-decoration:none;
  color:#000;
}
.p-ingredients-wrap img{
  width:100%;
  max-width: 70%;
}
.deskcriptionWrap{
  display: block;
  position: relative;
  margin-bottom: 70px;
}
.shrinK{
  height: 120px;
  overflow: hidden;
}
.expanD{
  height: auto;
  padding-bottom: 20px;
}
.readMore {
    position: absolute;
    bottom: -60px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding-left: 18px;
    border: 1px solid #ff5442;
    color: #ff5442;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    width: 45%;
    margin: 0 auto;
    border-radius: 6px;
    transition: .4s all;
    text-align: center;
}
.readMore:hover {
    background: #ff5442;
    border: 1px solid #ff5442;
    color: #fff
}  
.deskcriptionWrap p {
    font-size: 17px;
    font-weight: 400;
    color: #737373;
    text-align: left;
} 
.tab-content {
    background: #BDE9C9;
    padding: 15px 30px;
    border-radius: 4px;
}
  .ingredints_img_item.active .ingredints_text p{
    color:#000;
  }
  .ingredints_img_item.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 30px;
    width: 30px;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #bde9c9;
    transition: .5s all;
}
@media (min-width: 750px){
  .p-ingredients-main .middle {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      position: relative;
  }
  p-ingredients-main .middle .ingredints_img_item {
    margin-left: 0;
    width: 18%;
    position: relative;
    min-height: 280px;
}
}
@media (max-width: 749px){
  .p-ingredients-main .middle .ingredints_img_item {
    margin-left: 0;
  }
  .ingCar{
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .ingredint6_img
  {
  text-align:left;
  }

  .ingCar .ingredints_img_item{
     min-width: 40%;
  }
}  
</style>
{% schema %}
{
  "name": {
    "en": "Product Ingredients"
  },
  "class": "index-section product-se-2",
  "settings": [

  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "product Name",
      "settings": [
        {
          "type": "product",
          "id": "featured_product",
          "label": "Select a product to display the below content"
        },
        {
          "type": "header",
          "content": "Top Section"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "short_desc",
          "type": "html",
          "label": "Short Description"
        },
        {
          "type": "header",
          "content": "Middle Section"
        },
        {
          "id": "image_1",
          "type": "image_picker",
          "label": "Image 1"
        },
        {
          "id": "name_1",
          "type": "text",
          "label": "Name 1"
        },
        {
          "id": "desc_1",
          "type": "richtext",
          "label": "Description 1"
        },
        {
          "id": "image_2",
          "type": "image_picker",
          "label": "Image 2"
        },
        {
          "id": "name_2",
          "type": "text",
          "label": "Name 2"
        },
        {
          "id": "desc_2",
          "type": "richtext",
          "label": "Description 2"
        },
        {
          "id": "image_3",
          "type": "image_picker",
          "label": "Image 3"
        },
        {
          "id": "name_3",
          "type": "text",
          "label": "Name 3"
        },
        {
          "id": "desc_3",
          "type": "richtext",
          "label": "Description 3"
        },
        {
          "id": "image_4",
          "type": "image_picker",
          "label": "Image 4"
        },
        {
          "id": "name_4",
          "type": "text",
          "label": "Name 4"
        },
        {
          "id": "desc_4",
          "type": "richtext",
          "label": "Description 4"
        },
        {
          "id": "image_5",
          "type": "image_picker",
          "label": "Image 5"
        },
        {
          "id": "name_5",
          "type": "text",
          "label": "Name 5"
        },
        {
          "id": "desc_5",
          "type": "richtext",
          "label": "Description 5"
        },
        {
          "id": "image_6",
          "type": "image_picker",
          "label": "Image 6"
        },
        {
          "id": "name_6",
          "type": "text",
          "label": "Name 6"
        },
        {
          "id": "desc_6",
          "type": "richtext",
          "label": "Description 6"
        },
        {
          "type": "header",
          "content": "Bottom Section"
        },
        {
          "id": "details_heading",
          "type": "text",
          "label": "Details Heading"
        },
        {
          "id": "long_desc",
          "type": "richtext",
          "label": "Long Description "
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Product Ingredients"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
  var ingredintsImgItems = document.querySelectorAll(".ingredints_img_item");

  ingredintsImgItems.forEach(function (item) {
    item.addEventListener("click", function (event) {
      event.preventDefault();
    });

    item.addEventListener("mouseover", function () {
      var tabContents = document.querySelectorAll(".tab-content");
      var tabTitles = document.querySelectorAll(".tab-titles li");

      tabContents.forEach(function (tabContent) {
        tabContent.style.display = "none";
      });

      tabTitles.forEach(function (tabTitle) {
        tabTitle.classList.remove("active");
      });

      this.classList.add("active");
      var selectedTab = this.querySelector("a").getAttribute("href");
      document.querySelector(selectedTab).style.display = "block";
    });

    item.addEventListener("mouseleave", function () {
      var tabContents = document.querySelectorAll(".tab-content");
      var tabTitles = document.querySelectorAll(".tab-titles li");

      tabContents.forEach(function (tabContent) {
        tabContent.style.display = "none";
      });

      tabTitles.forEach(function (tabTitle) {
        tabTitle.classList.remove("active");
      });

      this.classList.remove("active");
      var selectedTab = this.querySelector("a").getAttribute("href");
      document.querySelector(selectedTab).style.display = "none";
    });
  });
});
</script>